.game {
  height: $desktop;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  &__name {
    text-align: center;
    font-size: 2.8rem;
    margin-top: 2rem;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    color: $color-grey;
  }

  li.disable {
    color: $color-white;
  }

  li::-moz-selection {
    background: none;
    color: #000;
  }

  li::selection {
    background: none;
    color: #000;
  }

  @media only screen and (max-width: $bp-largest) {
    height: $desktop;
  }

  @media only screen and (max-width: $bp-large) {
    height: $tablet;
  }

  @media only screen and (max-width: $bp-medium) {
    height: $smaller-tablet;
  }

  @media only screen and (max-width: $bp-small) {
    height: $phone;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: $smalller-phone;
  }

  @media only screen and (max-height: $bp-medium) {
    height: $phone;
  }

}

.disable {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: $font-secondary;
}

